* {
    padding: 0;
    margin: 0;
}
/* body{
    padding:0px;
    margin:0px;
    outline: 0px;
} */

.background {
    height: 698px;
    max-width: 1440px;
    background-image: url("../Assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
}

.d-flex {
    display: flex;
}
.header{
    width:100%;
    height:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .left h1{
    color:#4E47FF;
    font-weight: bold;
}
.header-bottom{
    margin: 0px auto;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.hb-align{
    max-width:580px;
    height: 160px;
    margin: 0px auto;
    position: relative;
    font-size:28px;
}
.hb-align h1{
    text-align: center;
}
.hb-align button{
    position: absolute;
    left: 40%;
    bottom: 9px;
}

.button{
    color:white;
    background-color: #4E47FF;
    border-radius: 8px;
    border: none;
    padding:10px;
    font-size: 12px;
}
.button:hover{
    background-color: yellow;
    cursor: pointer;
    color:black;
}

.action{
    height: 380px;
    max-width: 1140px;
    display:flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px
}
.rightsection{
   height: 328px;
   width: 430px;
   border-radius: 20px;
}
.leftsection button {
    height: 30px;
    width: 150px;
    color:white;
    background-color: #4E47FF;
     border-radius: 8px;
    border: none; 
}
.productive2 h1{
    font-size: 80px;
    color: #4E47FF;
}
.productive2 p{
    font-size: 20px;
    color: #25243282;;
}
.productive1{
    max-width: 1140px;
    height: 300px;
    background-color:#4d47ff53 ;
    margin: auto;
    padding-top: 180px;
    border-radius: 30px;
}
.productive1 h3{
    font-size: 38px;
    text-align: center;
    padding-bottom: 50px;
}

.productive2{
     display: flex;
     justify-content: space-between;
     margin: auto;
     padding: 0 200px;
}