* {
    padding: 0;
    margin: 0;
}
body{
    padding:0px;
    margin:0px;
    outline: 0px;
}

.background {
    height: 698px;
    max-width: 1440px;
    background-image: url("../Assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
}

.d-flex {
    display: flex;
}
.header{
    width:100%;
    height:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .left h1{
    color:#4E47FF;
    font-weight: bold;
    font-size: 34px;
}
.header-bottom{
    margin: 0px auto;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.hb-align{
    max-width:580px;
    height: 160px;
    margin: 0px auto;
    position: relative;
    font-size:28px;
}
.hb-align h1{
    text-align: center;
}
.hb-align button{
    position: absolute;
    left: 40%;
    bottom: 9px;
}

.button{
    color:white;
    background-color: #4E47FF;
    border-radius: 8px;
    border: none;
    padding:10px;
    font-size: 12px;
}
.button:hover{
    background-color: yellow;
    cursor: pointer;
    color:black;
}

.action{
    height: 380px;
    max-width: 1140px;
    display:flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px
}
.rightsection{
   height: 328px;
   width: 430px;
   border-radius: 20px;
}
.leftsection button {
    height: 30px;
    width: 150px;
    color:white;
    background-color: #4E47FF;
     border-radius: 8px;
    border: none; 
}
.productive2 h1{
    font-size: 80px;
    color: #4E47FF;
}
.productive2 p{
    font-size: 20px;
    color: #25243282;;
}
.productive1{
    max-width: 1140px;
    height: 300px;
    background-color:#4d47ff53 ;
    margin: auto;
    padding-top: 160px;
    border-radius: 30px;
}
.productive1 h3{
    font-size: 38px;
    text-align: center;
    padding-bottom: 50px;
}

.productive2{
     display: flex;
     justify-content: space-between;
     margin: auto;
     padding: 0 200px;
}
.review1{
    max-width: 1140px;
    height: 300px;
    /* border: 2px solid; */
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: auto;
    padding: 0 30px;
}

.reviewername{
    display: flex;
}
.reviewername img{
    border-radius: 50%;
    padding-right: 10px;
}
.box{
    height: 243px;
    width: 300px;
    /* border: 2px solid; */
    text-align:left;
    border-radius: 10px;
    padding-left: 20px;
    background-color: #ffffff;
    box-shadow:0 10px 10px 0 #9281816c;
}
.review1 .box h4{
    padding:30px 0;
}
body{
    background-color: #d4c0c074; 
}
 .leftpart{
    height: 232px;
    width: 528px;
 }
 .rightpart{
    height: 300px;
    width: 497px;
 }
 .information{
     max-width: 1140px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
 }
 .footer{
    height: 300px;
    width: 100%;
    /* border: 2px solid; */
    background-color: #ffffff;
    margin: auto;
 .footer2 h1{
    font-size: 100px;
    color: #4E47FF;
 }
 .link ul{
    display: flex;
    gap: 30px;
    padding-top: 10px;
    
 }
 .link li a{
    color: #8987A1;
    text-decoration:none;

 }
 .link li{list-style: none;}
.footer2{
    height: 221px;
    width: 450px;
    /* border: 2px solid; */
    text-align: center;
    margin: 30px auto;
    
}
